# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# -------------------------
# Data (DO NOT COMMIT)
# -------------------------
data/raw/
data/processed/
models/
*.pt
*.pth
*.ckpt
*.onnx
*.zip
*.mp4
*.avi

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary files
# -------------------------
tmp/
